<% title "Listing pages" %>
<div id="main" class="colored">
<table id="list">
  <tr>
    <th>Name</th>
    <th>Navlabel</th>
    <th>Title</th>
    <th>Category</th>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
	<%= render :partial => @pages %>
</table>
</div>

<% content_for(:left_column) do %>

<ul>
	<li class="level1">
	<%= link_to 'New Page', new_admin_page_path %>
	</li>
</ul>

<% end %>