<% title "Listing pages" %>
<div id="main" class="colored">
<table id="list">
	<thead>
  <tr>		
    <th>Category</th>
    <th>Name</th>
    <th>Navlabel</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
	</thead>
	<tbody>
	<%= render :partial => @pages %>
	</tbody>
</table>
</div>

<% content_for(:left_column) do %>

<ul>
	<li class="level1">
	<%= link_to 'New Page', new_admin_section_page_path(@section) unless @section.blank? %>
	</li>
	<li class="level1">
	<%= link_to 'Back To Sections', admin_sections_path %>
	</li>
</ul>

<% end %>

