<% title "Section: #{@section.name} | #{@page.category} > #{@page.name}" %>

<div id="main" class="colored">

<h2>
  
  <%= @page.title %>
</h2>

<p>

  <%= @page.body %>
</p>

</div>

<% content_for(:left_column) do %>

<ul>
	<li class="level1">
	<%= link_to 'Edit', edit_admin_section_page_path(@section,@page)  %>
	</li>
	<li class="level1">
	<%= link_to 'Back', admin_section_pages_path(@section)  %>
	</li>
</ul>

<% end %>