<tr>
  <td><%= type.name %></td>
  <td><%= link_to 'Show', admin_type_path(type) %></td>
  <td><%= link_to 'Edit', edit_admin_type_path(type) %></td>
  <td><%= link_to 'Destroy', admin_type_path(type), :confirm => 'Are you sure?', :method => :delete %></td>
</tr>