/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 14, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 36, ../src/screen.scss */
body {
  width: 100%;
  height: 100%;
  background: white;
}
/* line 43, ../src/screen.scss */
body a {
  color: #4e4e4e;
  text-decoration: none;
}
/* line 50, ../src/screen.scss */
body #wrapper {
  width: 960px;
  margin: 0px auto;
}
/* line 55, ../src/screen.scss */
body #wrapper header {
  width: 940px;
  height: 175px;
  background: transparent;
  margin: 0 10px;
  float: left;
}
/* line 66, ../src/screen.scss */
body #wrapper header img#logo {
  float: left;
}
/* line 70, ../src/screen.scss */
body #wrapper header h1 {
  float: left;
}
/* line 74, ../src/screen.scss */
body #wrapper header #logbox {
  width: 230px;
  height: 100px;
  float: right;
  background: green;
  margin-top: 10px;
}
/* line 86, ../src/screen.scss */
body #wrapper header nav {
  position: absolute;
  width: 100%;
  height: 54px;
  background: url(/images/system/bg/menu.png) repeat-x;
  left: 0px;
  margin-top: 120px;
}
/* line 99, ../src/screen.scss */
body #wrapper header nav ul {
  width: 900px;
  margin: 19px auto;
}
/* line 104, ../src/screen.scss */
body #wrapper header nav ul li {
  font-family: "MuseoSlab500";
  color: white;
  font-size: 13px;
  display: inline;
  margin: 0 15px;
}
/* line 115, ../src/screen.scss */
body #wrapper header nav ul li a {
  color: white;
  text-decoration: none;
}
/* line 125, ../src/screen.scss */
body #wrapper section#main {
  padding-bottom: 40px;
  float: left;
  width: 100%;
}
/* line 132, ../src/screen.scss */
body #wrapper section#main h1 {
  font-family: "Museo300";
  font-size: 29px;
  margin: 26px 40px 17px 40px;
  width: 860px;
}
/* line 143, ../src/screen.scss */
body #wrapper section#main h2 {
  font-family: "HelveticaNeueLT55RomanRegular";
  font-size: 12px;
  margin: 0px 0 0 40px;
  color: #4e4e4e;
  text-transform: uppercase;
  font-weight: bold;
}
/* line 157, ../src/screen.scss */
body #wrapper section#main .box {
  float: left;
  background: #f2f2f2;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 40px 0;
}
/* line 171, ../src/screen.scss */
body #wrapper section#main #left-column {
  width: 221px;
}
/* line 174, ../src/screen.scss */
body #wrapper section#main #left-column ul {
  float: left;
  margin: 10px 18px 20px 18px;
  padding-bottom: 5px;
  border-bottom: 1px solid white;
}
/* line 183, ../src/screen.scss */
body #wrapper section#main #left-column ul li.level1 {
  width: 182px;
  height: 30px;
  background: url(/images/system/bg/sprite.png) 0 0;
  margin-bottom: 6px;
  float: left;
  cursor: pointer;
}
/* line 196, ../src/screen.scss */
body #wrapper section#main #left-column ul li.level1 a {
  font-family: "HelveticaNeueLTCom45Light";
  margin: 7px 0 0 10px;
  float: left;
  color: #4e4e4e;
  text-decoration: none;
  font-size: 12px;
}
/* line 212, ../src/screen.scss */
body #wrapper section#main #left-column ul ul.sublevel1 li {
  font-size: 10px;
  margin-left: 25px;
  list-style: disc inside;
  float: left;
}
/* line 221, ../src/screen.scss */
body #wrapper section#main #left-column ul ul.sublevel1 li a {
  float: none;
}
/* line 229, ../src/screen.scss */
body #wrapper section#main #center {
  width: 521px;
  margin: 0px 10px;
}
/* line 235, ../src/screen.scss */
body #wrapper section#main #center table#list tr.hover {
  background: red;
}
/* line 239, ../src/screen.scss */
body #wrapper section#main #center table#list tr.parent {
  background: green;
}
/* line 244, ../src/screen.scss */
body #wrapper section#main #center table#list tr th {
  background: white;
  color: black;
  font-weight: bold;
}
/* line 252, ../src/screen.scss */
body #wrapper section#main #center table#list tr th, body #wrapper section#main #center table#list tr td {
  padding: 5px 10px;
  text-align: center;
}
/* line 259, ../src/screen.scss */
body #wrapper section#main #center table#list tr td.title, body #wrapper section#main #center table#list tr th.title {
  text-align: left;
}
/* line 264, ../src/screen.scss */
body #wrapper section#main #center table#list tr td a {
  text-decoration: none;
}
/* line 272, ../src/screen.scss */
body #wrapper section#main #right-column {
  width: 172px;
  background: transparent;
  padding: 0px;
}
/* line 279, ../src/screen.scss */
body #wrapper section#main #right-column h2 {
  margin-left: 20px;
}
/* line 283, ../src/screen.scss */
body #wrapper section#main #right-column .tools {
  float: left;
  width: 172px;
  height: 152px;
  background: url(/images/system/bg/sprite.png) -320px 0px;
  margin-top: 8px;
  font-size: 22px;
  color: white;
}
/* line 298, ../src/screen.scss */
body #wrapper section#main #right-column .tools p {
  margin: 15px 0 0 20px;
  text-shadow: 0 1px black;
  -moz-text-shadow: 0 1px black;
  -webkit-text-shadow: 0 1px black;
  text-transform: uppercase;
  font-family: "HelveticaNeueLTCom45Light";
}
/* line 311, ../src/screen.scss */
body #wrapper section#main #right-column .tools p strong {
  font-family: "HelveticaNeueLT55RomanRegular";
}
/* line 316, ../src/screen.scss */
body #wrapper section#main #right-column .tools ul {
  float: left;
  margin-top: 10px;
}
/* line 321, ../src/screen.scss */
body #wrapper section#main #right-column .tools ul li {
  font-size: 12px;
  float: left;
  margin: 0 9px 6px 9px;
}
/* line 328, ../src/screen.scss */
body #wrapper section#main #right-column .tools ul li a {
  border: 1px solid #5a5800;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background: #8e8e8e;
  float: left;
  padding: 3px 10px;
  color: white;
  width: 132px;
}
/* line 352, ../src/screen.scss */
body #wrapper section#main #right-column .button {
  float: left;
  width: 172px;
  height: 73px;
  background: url(/images/system/bg/sprite.png) 0 -60px;
  margin-top: 8px;
  font-family: "HelveticaNeueLTCom45Light";
  letter-spacing: 1px;
}
/* line 8, ../src/screen.scss */
body #wrapper section#main #right-column .button a {
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  margin: 15px 0 0 20px;
  float: left;
  text-shadow: 0 1px black;
  -moz-text-shadow: 0 1px black;
  -webkit-text-shadow: 0 1px black;
}
/* line 26, ../src/screen.scss */
body #wrapper section#main #right-column .button a strong {
  font-size: 22px;
  font-family: "HelveticaNeueLT55RomanRegular";
}
/* line 369, ../src/screen.scss */
body #wrapper section#main #right-column .rightbox {
  margin-top: 8px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  float: left;
  background: #f2f2f2;
  width: 100%;
  float: left;
}
/* line 386, ../src/screen.scss */
body #wrapper section#main #right-column .rightbox #newsletter {
  width: 138px;
  height: 46px;
  margin: 0 15px;
  background: url(/images/system/bg/sprite.png) -182px 0;
  margin: 15px;
}
/* line 398, ../src/screen.scss */
body #wrapper section#main #right-column .rightbox form {
  float: left;
  width: 50%;
  margin: 0px 40px;
}
/* line 405, ../src/screen.scss */
body #wrapper section#main #right-column .rightbox form input[type=email] {
  width: 100%;
  border: 1px solid #C0C0C0;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
/* line 417, ../src/screen.scss */
body #wrapper section#main #right-column .rightbox form input[type=submit] {
  border: 1px solid #5a5800;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background: #8e8e8e;
  float: right;
  margin: 8px 0 20px 0;
  color: white;
  font-family: "HelveticaNeueLT65MediumRegula";
  text-transform: uppercase;
  padding: 2px 10px 0 10px;
}
/* line 442, ../src/screen.scss */
body #wrapper section#main #right-column .rightbox ul {
  float: left;
  width: 100px;
  margin: 10px 0 0 50px;
}
/* line 449, ../src/screen.scss */
body #wrapper section#main #right-column .rightbox ul li {
  width: 100%;
  float: left;
  margin-bottom: 6px;
}
/* line 456, ../src/screen.scss */
body #wrapper section#main #right-column .rightbox ul li img, body #wrapper section#main #right-column .rightbox ul li p {
  float: left;
}
/* line 460, ../src/screen.scss */
body #wrapper section#main #right-column .rightbox ul li p {
  margin: 5px 0 0 10px;
}
/* line 467, ../src/screen.scss */
body #wrapper section#main #right-column .first {
  margin-top: 0px;
  padding: 40px 0 20px 0;
}
