/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 14, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 106, ../src/screen.scss */
body {
  width: 100%;
  height: 100%;
  background: white url(/images/system/bg/properties.png) top center no-repeat;
}
/* line 113, ../src/screen.scss */
body a {
  color: #4e4e4e;
  text-decoration: none;
}
/* line 119, ../src/screen.scss */
body strong {
  font-weight: bold;
}
/* line 123, ../src/screen.scss */
body h4 {
  color: #4a4800;
  margin-top: 20px;
  font-size: 12px;
  font-family: "HelveticaNeueLT65MediumRegula";
}
/* line 133, ../src/screen.scss */
body footer {
  display: block;
  height: 235px;
  background: url(/images/system/bg/footer.png) repeat-x top center;
  position: relative;
  left: 0px;
  width: 100%;
  float: left;
}
/* line 148, ../src/screen.scss */
body footer .holder {
  width: 960px;
  margin: 0px auto;
  padding: 40px;
  height: 112px;
}
/* line 157, ../src/screen.scss */
body footer .holder ul {
  width: 160px;
  float: left;
  margin-right: 0px;
}
/* line 164, ../src/screen.scss */
body footer .holder ul li {
  color: #729079;
  font-family: "HelveticaNeueLT55RomanRegular";
  font-size: 10px;
  line-height: 15px;
}
/* line 173, ../src/screen.scss */
body footer .holder ul li h6 {
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 12px;
  text-shadow: 0 1px black;
  -moz-text-shadow: 0 1px black;
  -webkit-text-shadow: 0 1px black;
}
/* line 192, ../src/screen.scss */
body #wrapper {
  width: 960px;
  margin: 0px auto;
}
/* line 197, ../src/screen.scss */
body #wrapper header {
  width: 940px;
  height: 175px;
  background: transparent;
  margin: 0 10px;
  float: left;
}
/* line 208, ../src/screen.scss */
body #wrapper header img#logo {
  float: left;
}
/* line 212, ../src/screen.scss */
body #wrapper header h1 {
  float: left;
}
/* line 216, ../src/screen.scss */
body #wrapper header #logbox {
  width: 230px;
  height: 100px;
  float: right;
  background: green;
  margin-top: 10px;
}
/* line 228, ../src/screen.scss */
body #wrapper header nav {
  position: absolute;
  width: 100%;
  height: 54px;
  background: url(/images/system/bg/menu.png) repeat-x;
  left: 0px;
  margin-top: 120px;
}
/* line 241, ../src/screen.scss */
body #wrapper header nav ul {
  width: 900px;
  margin: 19px auto;
}
/* line 246, ../src/screen.scss */
body #wrapper header nav ul li {
  font-family: "MuseoSlab500";
  color: white;
  font-size: 13px;
  display: inline;
  margin: 0 15px;
}
/* line 257, ../src/screen.scss */
body #wrapper header nav ul li a {
  color: white;
  text-decoration: none;
  text-shadow: 0 1px black;
  -moz-text-shadow: 0 1px black;
  -webkit-text-shadow: 0 1px black;
}
/* line 273, ../src/screen.scss */
body #wrapper section#main {
  padding-bottom: 40px;
  float: left;
  width: 100%;
}
/* line 280, ../src/screen.scss */
body #wrapper section#main h1 {
  font-family: "Museo300";
  font-size: 29px;
  margin: 26px 40px 17px 40px;
  width: 860px;
}
/* line 291, ../src/screen.scss */
body #wrapper section#main h2 {
  font-family: "HelveticaNeueLT55RomanRegular";
  font-size: 12px;
  margin: 0px 0 0 40px;
  color: #4e4e4e;
  text-transform: uppercase;
  font-weight: bold;
}
/* line 305, ../src/screen.scss */
body #wrapper section#main .box {
  float: left;
  background: #f2f2f2;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 40px 0;
}
/* line 319, ../src/screen.scss */
body #wrapper section#main #left-column {
  width: 221px;
}
/* line 322, ../src/screen.scss */
body #wrapper section#main #left-column ul {
  float: left;
  margin: 10px 18px 20px 18px;
  padding-bottom: 5px;
  border-bottom: 1px solid white;
}
/* line 331, ../src/screen.scss */
body #wrapper section#main #left-column ul li.level1 {
  width: 182px;
  height: 30px;
  background: url(/images/system/bg/sprite.png) 0 0;
  margin-bottom: 6px;
  float: left;
  cursor: pointer;
}
/* line 344, ../src/screen.scss */
body #wrapper section#main #left-column ul li.level1 a {
  font-family: "HelveticaNeueLTCom45Light";
  margin: 7px 0 0 10px;
  float: left;
  color: #4e4e4e;
  text-decoration: none;
  font-size: 12px;
}
/* line 360, ../src/screen.scss */
body #wrapper section#main #left-column ul ul.sublevel1 li {
  font-size: 10px;
  margin-left: 25px;
  list-style: disc inside;
  float: left;
}
/* line 369, ../src/screen.scss */
body #wrapper section#main #left-column ul ul.sublevel1 li a {
  float: none;
}
/* line 377, ../src/screen.scss */
body #wrapper section#main #center {
  width: 521px;
  margin: 0px 10px;
  background: transparent;
  padding: 0px;
  float: left;
}
/* line 388, ../src/screen.scss */
body #wrapper section#main #center #slider-range {
  margin-bottom: 10px;
}
/* line 8, ../src/screen.scss */
body #wrapper section#main #center a.button {
  padding: 4px;
  background: url(/images/system/bg/buttons.png) repeat-x;
  text-shadow: 0 1px black;
  -moz-text-shadow: 0 1px black;
  -webkit-text-shadow: 0 1px black;
  font-size: 12px;
  color: white;
  border: 1px solid #5a5800;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  margin-right: 10px;
  box-shadow: inset 0 0 10px #a6a335;
  -webkit-box-shadow: inset 0 0 10px #a6a335;
  -moz-box-shadow: inset 0 0 10px #a6a335;
  font-family: "HelveticaNeueLTCom45Light";
}
/* line 393, ../src/screen.scss */
body #wrapper section#main #center a.button {
  float: left;
}
/* line 397, ../src/screen.scss */
body #wrapper section#main #center #recent {
  width: 100%;
  float: left;
}
/* line 402, ../src/screen.scss */
body #wrapper section#main #center #recent section {
  float: left;
  width: 220px;
}
/* line 408, ../src/screen.scss */
body #wrapper section#main #center #recent section.left {
  margin-left: 40px;
  padding-left: 10px;
  padding-right: 10px;
}
/* line 416, ../src/screen.scss */
body #wrapper section#main #center #recent h4 {
  float: left;
  width: 225px;
  padding-bottom: 10px;
}
/* line 424, ../src/screen.scss */
body #wrapper section#main #center #recent p {
  width: 225px;
  float: left;
  font-family: "HelveticaNeueLTCom45Light";
  font-size: 10px;
  line-height: 15px;
  -webkit-column-count: 2;
  -webkit-column-gap: 10px;
  -moz-column-count: 2;
  -moz-column-gap: 10px;
  column-count: 2;
  column-gap: 10px;
}
/* line 448, ../src/screen.scss */
body #wrapper section#main #center #recent p.left {
  padding-left: 50px;
}
/* line 453, ../src/screen.scss */
body #wrapper section#main #center .colored {
  float: left;
  background: #f2f2f2;
  padding: 40px 0;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
/* line 467, ../src/screen.scss */
body #wrapper section#main #center form {
  float: left;
  padding: 0 40px 20px;
  width: 440px;
  font-size: 10px;
}
/* line 476, ../src/screen.scss */
body #wrapper section#main #center form select {
  padding: 4px;
  float: left;
  border: 1px solid #d9d9d9;
  width: 120px;
  margin: 5px 5px 0 0;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  font-size: 10px;
}
/* line 496, ../src/screen.scss */
body #wrapper section#main #center form label {
  width: 100%;
  float: left;
  margin: 10px 5px;
}
/* line 505, ../src/screen.scss */
body #wrapper section#main #center ul.properties {
  padding: 25px 40px;
  float: left;
}
/* line 510, ../src/screen.scss */
body #wrapper section#main #center ul.properties li {
  width: 440px;
  float: left;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid white;
}
/* line 521, ../src/screen.scss */
body #wrapper section#main #center ul.properties li h5 {
  font-size: 25px;
  font-family: "HelveticaNeueLT55RomanRegular";
  color: #838700;
  font-weight: bold;
}
/* line 531, ../src/screen.scss */
body #wrapper section#main #center ul.properties li p.address {
  margin-top: 15px;
}
/* line 535, ../src/screen.scss */
body #wrapper section#main #center ul.properties li p {
  margin-top: 10px;
  font-family: "HelveticaNeueLT55RomanRegular";
  font-size: 12px;
  color: #4e4e4e;
}
/* line 8, ../src/screen.scss */
body #wrapper section#main #center ul.properties li p a.button {
  padding: 4px;
  background: url(/images/system/bg/buttons.png) repeat-x;
  text-shadow: 0 1px black;
  -moz-text-shadow: 0 1px black;
  -webkit-text-shadow: 0 1px black;
  font-size: 12px;
  color: white;
  border: 1px solid #5a5800;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  margin-right: 10px;
  box-shadow: inset 0 0 10px #a6a335;
  -webkit-box-shadow: inset 0 0 10px #a6a335;
  -moz-box-shadow: inset 0 0 10px #a6a335;
  font-family: "HelveticaNeueLTCom45Light";
}
/* line 546, ../src/screen.scss */
body #wrapper section#main #center ul.properties li img {
  float: left;
  margin-right: 15px;
  width: 151px;
  height: 110px;
  padding: 5px;
  border: 1px solid black;
  background: #878300;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
/* line 570, ../src/screen.scss */
body #wrapper section#main #center #tricolumn {
  float: left;
}
/* line 573, ../src/screen.scss */
body #wrapper section#main #center #tricolumn ul {
  padding: 30px 40px;
  float: left;
}
/* line 578, ../src/screen.scss */
body #wrapper section#main #center #tricolumn ul li.center {
  margin: 0 10px;
}
/* line 582, ../src/screen.scss */
body #wrapper section#main #center #tricolumn ul li {
  float: left;
  width: 140px;
}
/* line 587, ../src/screen.scss */
body #wrapper section#main #center #tricolumn ul li p {
  float: left;
  font-size: 10px;
  font-family: Verdana;
  margin-top: 10px;
  padding: 0 4px;
}
/* line 44, ../src/screen.scss */
body #wrapper section#main #center #tricolumn ul li p a {
  border: 1px solid #5a5800;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  text-shadow: 0 1px black;
  -moz-text-shadow: 0 1px black;
  -webkit-text-shadow: 0 1px black;
  background: #8e8e8e;
  font-size: 12px;
  float: left;
  padding: 3px 10px;
  text-align: center;
  color: white;
  width: 132px;
  font-family: "HelveticaNeueLTCom45Light";
}
/* line 599, ../src/screen.scss */
body #wrapper section#main #center #tricolumn ul li p a {
  width: 100px;
}
/* line 604, ../src/screen.scss */
body #wrapper section#main #center #tricolumn ul li h3 {
  width: 100px;
  background: #f2f2f2;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  font-size: 16px;
  font-family: "HelveticaNeueLTCom45Light";
  padding: 15px 20px;
  text-transform: uppercase;
  float: left;
}
/* line 625, ../src/screen.scss */
body #wrapper section#main #center #tricolumn ul li h3 strong {
  font-family: "HelveticaNeueLT55RomanRegular";
  font-size: 22px;
}
/* line 635, ../src/screen.scss */
body #wrapper section#main #center img#static_search_property {
  margin-left: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid white;
  margin-bottom: 15px;
}
/* line 646, ../src/screen.scss */
body #wrapper section#main #center table#list tr.hover {
  background: red;
}
/* line 650, ../src/screen.scss */
body #wrapper section#main #center table#list tr.parent {
  background: green;
}
/* line 655, ../src/screen.scss */
body #wrapper section#main #center table#list tr th {
  background: white;
  color: black;
  font-weight: bold;
}
/* line 663, ../src/screen.scss */
body #wrapper section#main #center table#list tr th, body #wrapper section#main #center table#list tr td {
  padding: 5px 10px;
  text-align: center;
}
/* line 670, ../src/screen.scss */
body #wrapper section#main #center table#list tr td.title, body #wrapper section#main #center table#list tr th.title {
  text-align: left;
}
/* line 675, ../src/screen.scss */
body #wrapper section#main #center table#list tr td a {
  text-decoration: none;
}
/* line 683, ../src/screen.scss */
body #wrapper section#main #right-column {
  width: 172px;
  background: transparent;
  padding: 0px;
}
/* line 690, ../src/screen.scss */
body #wrapper section#main #right-column h2 {
  margin-left: 20px;
}
/* line 694, ../src/screen.scss */
body #wrapper section#main #right-column .tools {
  float: left;
  width: 172px;
  height: 152px;
  background: url(/images/system/bg/sprite.png) -320px 0px;
  margin-top: 8px;
  font-size: 22px;
  color: white;
  text-shadow: 0 1px black;
  -moz-text-shadow: 0 1px black;
  -webkit-text-shadow: 0 1px black;
}
/* line 715, ../src/screen.scss */
body #wrapper section#main #right-column .tools p {
  margin: 15px 0 0 20px;
  text-transform: uppercase;
  font-family: "HelveticaNeueLTCom45Light";
}
/* line 722, ../src/screen.scss */
body #wrapper section#main #right-column .tools p strong {
  font-family: "HelveticaNeueLT55RomanRegular";
}
/* line 727, ../src/screen.scss */
body #wrapper section#main #right-column .tools ul {
  float: left;
  margin-top: 25px;
}
/* line 732, ../src/screen.scss */
body #wrapper section#main #right-column .tools ul li {
  font-size: 12px;
  float: left;
  margin: 0 9px 6px 9px;
}
/* line 44, ../src/screen.scss */
body #wrapper section#main #right-column .tools ul li a {
  border: 1px solid #5a5800;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  text-shadow: 0 1px black;
  -moz-text-shadow: 0 1px black;
  -webkit-text-shadow: 0 1px black;
  background: #8e8e8e;
  font-size: 12px;
  float: left;
  padding: 3px 10px;
  text-align: center;
  color: white;
  width: 132px;
  font-family: "HelveticaNeueLTCom45Light";
}
/* line 743, ../src/screen.scss */
body #wrapper section#main #right-column .button {
  float: left;
  width: 172px;
  height: 73px;
  background: url(/images/system/bg/sprite.png) 0 -60px;
  margin-top: 8px;
  font-family: "HelveticaNeueLTCom45Light";
  letter-spacing: 1px;
  line-height: 23px;
}
/* line 78, ../src/screen.scss */
body #wrapper section#main #right-column .button a {
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  margin: 15px 0 0 20px;
  float: left;
  text-shadow: 0 1px black;
  -moz-text-shadow: 0 1px black;
  -webkit-text-shadow: 0 1px black;
}
/* line 96, ../src/screen.scss */
body #wrapper section#main #right-column .button a strong {
  font-size: 22px;
  font-family: "HelveticaNeueLT55RomanRegular";
}
/* line 762, ../src/screen.scss */
body #wrapper section#main #right-column .rightbox {
  margin-top: 8px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  float: left;
  background: #f2f2f2;
  width: 100%;
  float: left;
  font-family: "HelveticaNeueLT55RomanRegular";
  fonst-size: 12px;
}
/* line 783, ../src/screen.scss */
body #wrapper section#main #right-column .rightbox #newsletter {
  width: 138px;
  height: 46px;
  margin: 0 15px;
  background: url(/images/system/bg/sprite.png) -182px 0;
  margin: 15px;
}
/* line 795, ../src/screen.scss */
body #wrapper section#main #right-column .rightbox form {
  float: left;
  width: 50%;
  margin: 0px 40px;
}
/* line 802, ../src/screen.scss */
body #wrapper section#main #right-column .rightbox form input[type=email] {
  width: 100%;
  border: 1px solid #C0C0C0;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
/* line 814, ../src/screen.scss */
body #wrapper section#main #right-column .rightbox form input[type=submit] {
  border: 1px solid #5a5800;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background: #8e8e8e;
  float: right;
  margin: 8px 0 20px 0;
  color: white;
  font-family: "HelveticaNeueLT65MediumRegula";
  text-transform: uppercase;
  padding: 2px 10px 0 10px;
}
/* line 839, ../src/screen.scss */
body #wrapper section#main #right-column .rightbox ul {
  float: left;
  width: 100px;
  margin: 10px 0 0 50px;
}
/* line 846, ../src/screen.scss */
body #wrapper section#main #right-column .rightbox ul li {
  width: 100%;
  float: left;
  margin-bottom: 6px;
  font-size: 12px;
}
/* line 855, ../src/screen.scss */
body #wrapper section#main #right-column .rightbox ul li img, body #wrapper section#main #right-column .rightbox ul li p {
  float: left;
}
/* line 859, ../src/screen.scss */
body #wrapper section#main #right-column .rightbox ul li p {
  margin: 5px 0 0 10px;
}
/* line 866, ../src/screen.scss */
body #wrapper section#main #right-column .first {
  margin-top: 0px;
  padding: 40px 0 20px 0;
}
