<% title "Section > #{@section.name} | Pages (#{@section.pages.count.to_s})" %>
<div id="main">
	<table id="list">
		<thead>
	  <tr>		
	    <th>Category</th>
	    <th>Name</th>
	    <th>Navlabel</th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>
		</thead>
		<tbody>
		<%= render :partial => @section.pages.delete_if{|x|x.name.blank?} %>
		</tbody>
	</table>

</div>


<% content_for(:left_column) do %>
<ul>
	<li class="level1">
	<%= link_to  'New Page', new_admin_section_page_path(@section.id)  %>
	</li>
	<li class="level1">
	<%= link_to  'Edit', edit_admin_section_path(@section)  %>
	</li>
	<li class="level1">
	<%= link_to  'Back', admin_sections_path  %>
	</li>
</ul>
<% end %>
<% content_for(:script) do %>
<script>
$(document).ready(function(){
				oTable = $('#list').dataTable({
					"bJQueryUI": true,
					"sPaginationType": "full_numbers"
				});
});
</script>
<% end %>