<form method="post" action="/properties/search" class="jNice">
			<label class="title">Property Type</label>
	<select id="type" name="type" class="makeMeFancy">        
      	<!-- Notice the HTML5 data attributes -->        
        <option value="0" selected="selected" data-skip="1">Choose Type</option>
      	<option value="1" data-icon="img/products/iphone.png" data-html-text="Residential">Residential</option>
      	<option value="2" data-icon="img/products/ipod.png" data-html-text="Commercial">Commercial</option>
  </select>


	<select id="category" name="category" class="makeMeFancy">        
  	<!-- Notice the HTML5 data attributes -->        
   <option value="0" selected="selected" data-skip="1">Choose Category</option>
  	<option value="1" data-icon="img/products/iphone.png" data-html-text="Residential">Sales</option>
  	<option value="2" data-icon="img/products/iphone.png" data-html-text="Residential">Long Term Rental</option>
  	<option value="3" data-icon="img/products/ipod.png" data-html-text="Commercial">Short Term Rental</option>
  </select>
	<label class="title">Property Location</label>
	<select id="country" name="country" class="makeMeFancy">        
  	<!-- Notice the HTML5 data attributes -->        
   <option value="0" selected="selected" data-skip="1">Choose Country</option>
  	<option value="1" data-icon="img/products/iphone.png" data-html-text="Residential">Sales</option>
  	<option value="2" data-icon="img/products/iphone.png" data-html-text="Residential">Long Term Rental</option>
  	<option value="3" data-icon="img/products/ipod.png" data-html-text="Commercial">Short Term Rental</option>
  </select>
	<select id="region" name="region" class="makeMeFancy">        
  	<!-- Notice the HTML5 data attributes -->        
   <option value="0" selected="selected" data-skip="1">Choose Region</option>
  	<option value="1" data-icon="img/products/iphone.png" data-html-text="Residential">Sales</option>
  	<option value="2" data-icon="img/products/iphone.png" data-html-text="Residential">Long Term Rental</option>
  	<option value="3" data-icon="img/products/ipod.png" data-html-text="Commercial">Short Term Rental</option>
  </select>
	<select id="city" name="city" class="makeMeFancy">        
  	<!-- Notice the HTML5 data attributes -->        
   <option value="0" selected="selected" data-skip="1">Choose City</option>
  	<option value="1" data-icon="img/products/iphone.png" data-html-text="Residential">Sales</option>
  	<option value="2" data-icon="img/products/iphone.png" data-html-text="Residential">Long Term Rental</option>
  	<option value="3" data-icon="img/products/ipod.png" data-html-text="Commercial">Short Term Rental</option>
  </select>
	<select id="area" name="area" class="makeMeFancy">        
  	<!-- Notice the HTML5 data attributes -->        
   <option value="0" selected="selected" data-skip="1">Choose Area</option>
  	<option value="1" data-icon="img/products/iphone.png" data-html-text="Residential">Sales</option>
  	<option value="2" data-icon="img/products/iphone.png" data-html-text="Residential">Long Term Rental</option>
  	<option value="3" data-icon="img/products/ipod.png" data-html-text="Commercial">Short Term Rental</option>
  </select>
			<label class="title">Property Details</label>
	<select id="subtype" name="subtype" class="makeMeFancy">        
     	<!-- Notice the HTML5 data attributes -->        
      <option value="0" selected="selected" data-skip="1">Choose Subtype</option>
     	<option value="1" data-icon="img/products/iphone.png" data-html-text="Residential">Residential</option>
     	<option value="2" data-icon="img/products/ipod.png" data-html-text="Commercial">Commercial</option>
  </select>
	<select id="bedrooms" name="bedrooms" class="makeMeFancy">        
     	<!-- Notice the HTML5 data attributes -->        
      <option value="0" selected="selected" data-skip="1"># Bedrooms</option>
     	<option value="1" data-html-text="1 bedroom">1</option>
     	<option value="2"  data-html-text="2 bedroom">2</option>
     	<option value="3"  data-html-text="3 bedroom">3</option>
  </select>
	<select id="bathrooms" name="bathrooms" class="makeMeFancy">        
     	<!-- Notice the HTML5 data attributes -->        
      <option value="0" selected="selected" data-skip="1"># Bathrooms</option>
     	<option value="1" data-html-text="1 bedroom">1</option>
     	<option value="2"  data-html-text="2 bedroom">2</option>
     	<option value="3"  data-html-text="3 bedroom">3</option>
  </select>
		<label class="title">Price</label>
	<div style="width:250px;float:left;margin-right:15px;">

		<p id="amount" style="border:0; color:#838700; font-weight:bold;"></p>		
		<div id="slider-range"></div>
	</div>
	<button class="button">Search Properties</button>
</form>