<% title "Properties#show" %>
<div id="search-info" class="colored">
	<p><strong>Search Results</strong> > <span>124 properties</span> match your criteria</p>
</div>
<div id="main" class="colored">
	<h2>Property Search</h2>
	<%= render :partial => "search" %>
	<h2>Property Info </h2>
	
</div>
<% content_for(:left_column) do %>
<%= render :partial => "left" %>
<% end %>
<% content_for(:right_column) do %>
<%= render :partial => "right" %>
<% end %>


<% content_for(:script) do %>
<script>
$(document).ready(function(){
	$("#accordion").accordion();
});
</script>
<% end %>