<div class="holder">
	<ul>
		<li><h6>Buy Property</h6></li>
		<li>Villas For Sale</li>
		<li>Apartments For Sale</li>
		<li>New Builds For Sale</li>
		<li>Duplexes For Sale</li>					
	</ul>	
	<ul>
		<li><h6>Rent Property</h6></li>
		<li>Villas For Rent</li>
		<li>Apartments  For Rent</li>
		<li>New Builds  For Rent</li>
		<li>Duplexes  For Rent</li>					
	</ul>
	<ul>
		<li><h6>Sell Property</h6></li>
		<li>Sell commercial property</li>
		<li>Sell residential property</li>
		<li>Legal Info</li>			
	</ul>
	<ul>
		<li><h6>Golden Mile Services</h6></li>
		<li>Property Management Property</li>
		<li>Finance Building a Property</li>
		<li>Book With Golden Mile</li>			
	</ul>
	<ul>
		<li><h6>Golden Mile Group</h6></li>
		<li> Corporate Identity </li>
		<li>	Customer Service</li>
		<li>Golden Mile Partners</li>
		<li>Become a Partner</li>	
		<li>Work For Golden Mile</li>		
	</ul>
	<ul>
		<li><h6>	Property Blog</h6></li>
		<li>Buying a Home </li>
		<li>Selling a Home</li>
		<li>Home Finance</li>
	</ul>
</div>