<% title "Home Index" %>

<% content_for(:left_column) do %>
	<% @categories.each_with_index do |c,i| %>
	<h2><%= @categories[i] %></h2>
	<ul>
		<% @pages[i].each do |p| %>
		<li class="level1"><%= link_to p.navlabel,"#" %></li>
		 	<% p.subpages.each do |sp| %>
			<li class="level2"><%= link_to sp.navlabel,"#" %></li>
			<% end %>
		<% end %>
	</ul>

	<% end %>
<% end %>