/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@mixin buttons-gradient{
	a.button{
		padding:
			4px;
		background:
			url(/images/system/bg/buttons.png) repeat-x;
		text-shadow:
			0 1px black;
		-moz-text-shadow:
			0 1px black;							
		-webkit-text-shadow:
			0 1px black;	
		font-size:
			12px;			
		color:
			white;
		border:
			1px solid #5a5800;
		border-radius:
			10px;
		-moz-border-radius:
			10px;
		-webkit-border-radius:
			5px;	
		margin-right:
			10px;
		box-shadow:
			inset 0 0 10px #a6a335;
		-webkit-box-shadow:
			inset 0 0 10px #a6a335;
		-moz-box-shadow:
			inset 0 0 10px #a6a335;
		font-family:
			"HelveticaNeueLTCom45Light";
	}
	a.button:hover{
		color:
			#888888;
		box-shadow:
			inset 0 0 5px #a6a335;
		-webkit-box-shadow:
			inset 0 0 5px #a6a335;
		-moz-box-shadow:
			inset 0 0 5px #a6a335;	
	}
}
@mixin buttons{
	a{
		border:
			1px solid #5a5800;
		border-radius:
			10px;
		-moz-border-radius:
			10px;
		-webkit-border-radius:
			10px;	
		text-shadow:
			0 1px black;
		-moz-text-shadow:
			0 1px black;							
		-webkit-text-shadow:
			0 1px black;	
		background:
			#8e8e8e;
		font-size:
			12px;
		float:
			left;
		padding:
			3px 10px;
		text-align:
			center;
		color:
			white;
		width:
			132px;
		font-family:
			"HelveticaNeueLTCom45Light";
	}
}
@mixin right-column-links{
	a{
		color:
			white;
		font-size:
			15px;
		text-transform:
			uppercase;
		margin:
			15px 0 0 20px;
		float:
			left;
		text-shadow:
			0 1px black;
		-moz-text-shadow:
			0 1px black;							
		-webkit-text-shadow:
			0 1px black;							

		strong{
			font-size:
				22px;
			font-family:
				"HelveticaNeueLT55RomanRegular";
		}
	}
}


body{
	width:
		100%;
	height:
		100%;
	background:
		white url(/images/system/bg/properties.png) top center no-repeat;
	font-family:
		Verdana;
	font-size:
		10px;
	a{
		color:
			#4e4e4e;
		text-decoration:
			none;	
	}
	strong{
		font-weight:
			bold;
	}
	h4{
		color:
			#4a4800;
		margin-top:
			20px;
		font-size:
			12px;
		font-family:
			"HelveticaNeueLT65MediumRegula";
	}
	footer{
		display:
			block;
		height:
			235px;
		background:
			url(/images/system/bg/footer.png) repeat-x top center;
		position:
			relative;
		left:
			0px;
		width:
			100%;
		float:
			left;
		.holder{
			width:
				960px;
			margin:
				0px auto;
			padding:
				40px;
			height:
				112px;
			ul{
				width:
					160px;
				float:
					left;
				margin-right:
					0px;
				li{
					color:
						#729079;
					font-family:
						"HelveticaNeueLT55RomanRegular";
					font-size:
						10px;
					line-height:
						15px;
					h6{
						margin-bottom:
							25px;
						font-weight:
							bold;
						font-size:
							12px;
						text-shadow:
							0 1px black;
						-moz-text-shadow:
							0 1px black;							
						-webkit-text-shadow:
							0 1px black;							
					}
				}
			}
		}
	}	
	
	#wrapper{
		width: 	
			960px;
		margin:
			0px auto;
		header{
			width:
				940px;
			height:
				175px;
			background:
				transparent;
			margin:
				0 10px;
			float:	
				left;
			img#logo{
				float:
					left;
			}
			h1{
				float:
					left;
			}
			#logbox{
				width:
					230px;
				height:
					100px;
				float:
					right;
				background:
					green;
				margin-top:
					10px;
			}
			nav{
				position:
					absolute;
				width:
					100%;
				height:
					54px;
				background:
					url(/images/system/bg/menu.png) repeat-x;
				left:
					0px;
				margin-top:
					120px;
				ul{
					width:
						900px;
					margin:
						19px auto;
					li{
						font-family:
							"MuseoSlab500";
						color:
							white;
						font-size:
							13px;
						display:	
							inline;
						margin:
							0 15px;
						a{
							color:
								white;
							text-decoration:
								none;
							text-shadow:
								0 1px black;
							-moz-text-shadow:
								0 1px black;							
							-webkit-text-shadow:
								0 1px black;								
						}						
					}
				}
			}
		}
		section#main{			
			padding-bottom:
				40px;
			float:
				left;
			width:
				100%;
			h1{
				font-family:	
					"Museo300";
				font-size:
					29px;
				margin:
					26px 40px 17px 40px;
				width:
					860px;
				
			}
			h2{
				font-family:
					"HelveticaNeueLT55RomanRegular";
				font-size:
					12px;
				margin:
					0px 0 0 40px;
				color:
					#4e4e4e;
				text-transform:
					uppercase;
				font-weight:
					bold;
			}
			.box{
				float:
					left;
				background:
					#f2f2f2;
				border-radius:
					3px;
				-moz-border-radius:
					3px;
				-webkit-border-radius:
					3px;
				padding:
					40px 0;
			}
			#left-column{
				width:
					221px;
				ul{
					float:
						left;
					margin:
						10px 18px 20px 18px;
					padding-bottom:
						5px;
					border-bottom:
						1px solid white;
					li.level1{
						width:
							182px;
						height:
							30px;
						background:
							url(/images/system/bg/sprite.png) 0 0;
						margin-bottom:
							6px;
						float:
							left;
						cursor:
							pointer;
						a{
							font-family:
								"HelveticaNeueLTCom45Light";
							padding:
								9px 0 10px 10px;
							float:
								left;
							color:
								#4e4e4e;
							text-decoration:
								none;
							font-size:
								12px;
							width:
								130px;
						}
					}
					ul.sublevel1{
						li{
							font-size:
								10px;
							margin-left:
								25px;
							list-style:
								disc inside;
							float:
								left;
							a{
								float:
									none;
							}
						}
					}
				}
			}
			#center{
				width:
					521px;
				margin:
					0px 10px;
				background:
					transparent;
				padding:
					0px;
				float:
					left;
				#slider-range{
					margin-bottom:
						10px;
				}	
				@include buttons-gradient;
				a.button{
					float:
						left;
				}
				#recent{
					width:
						100%;
					float:
						left;
					section{
						float:
							left;
						width:
							220px;
					}
					section.left{
						margin-left:
							40px;
						padding-left:
							10px;
						padding-right:
							10px;
					}
					h4{
						float:
							left;
						width:
							225px;
						padding-bottom:
							10px;
					}
					p{
						width:
							225px;
						float:
							left;
						font-family:						
							"HelveticaNeueLTCom45Light";
						font-size:
							10px;
						line-height:
							15px;
						-webkit-column-count:
						 	2;
						-webkit-column-gap: 
							10px;
						-moz-column-count: 
							2;
						-moz-column-gap: 
							10px;
						column-count: 
							2;
						column-gap: 
							10px;							
					}
					p.left{
						padding-left:
							50px;
					}
				}	
				.colored{
					float:
						left;
					background:
						#f2f2f2;
					padding:
						40px 0;
					border-radius:
						3px;
					-moz-border-radius:
						3px;
					-webkit-border-radius:
						3px;
				}
				form{
					float:
						left;
					padding:
						10px 30px;
					width:
						440px;
					font-size:
						10px;
					margin:
						10px;
					border-bottom:
						1px solid white;
					select{
						padding:
							4px;
						float:
							left;
						border:
							1px solid #d9d9d9;
						width:
							120px;
						margin:
							5px 5px 0 0;
						border-radius:
							3px;
						-moz-border-radius:
							3px;
						-webkit-border-radius:
							3px;							
						font-size:
							10px;
					}
					label.title{
						width:
						 100%;
						float:	
							left;
						margin:
							10px 5px;
					}
				}
				nav.pagination{
					float:
						right;
					margin:
						0px 25px;
					color:
						#b3b15f;
					font-size:
						12px;
					a{
						color:
							#b3b15f;
					}
					a:hover{
						text-decoration:
							underline;
					}
					span.current{
						color:
							#888888;
					}
				}
				ul.properties{
					padding:
						25px 0px;
					float:
						left;
					li.featured{
						width:
							423px;
						height:
							103px;
						background:
							url(/images/system/bg/sprite.png) 0 -152px;
						margin:
							0;
						padding:
							20px 40px;
						margin:
							0 10px 15px 10px;
					}
					li{
						padding:
							20px 40px;
						margin:
							0 10px 15px 10px;
						width:
							423px;	
						float:
							left;
						border-bottom:
							1px solid white;
						h5{
							font-size:
								25px;
							font-family:
								"HelveticaNeueLT55RomanRegular";
							color:
								#838700;
							font-weight:
								bold;
						}
						p.address{
							margin-top:
								15px;
						}
						p.links{
							float:
								right;
							margin:
								-20px -15px 0 0px;
							a{
								span.ui-icon{
									margin-top:
										-9px;
								}
							}
						}
						p.code{
							margin-top:
								10px;
						}
						p{
							margin-top:
								5px;
							font-family:						
								"HelveticaNeueLT55RomanRegular";
							font-size:
								12px;
							color:
								#4e4e4e;
							@include buttons-gradient;					
						}
						img{
							float:
								left;
							margin-right:
								15px;
							padding:
								5px;
							border:
								1px solid black;
							background:
								#878300;
							border-radius:
								3px;
							-moz-border-radius:
								3px;
							-webkit-border-radius:
								3px;							
						}
					}
				}
				#tricolumn{
					float:
						left;
					ul{
						padding:
							30px 40px;
						float:
							left;
						li.center{
							margin:
								0 10px;
						}
						li{
							float:
								left;
							width:
								140px;
							p{
								float:
									left;
								font-size:
									10px;
								font-family:
									Verdana;
								@include buttons;		
								margin-top:
									10px;
								padding:
									0 4px;
								a{
									width:
										100px;
								}
							}
							h3{
								width:
									100px;
								background:
									#f2f2f2;
								border-radius:
									3px;
								-moz-border-radius:
									3px;
								-webkit-border-radius:
									3px;
								font-size:
									16px;
								font-family:
									"HelveticaNeueLTCom45Light";
								padding:
									15px 20px;
								text-transform:
									uppercase;
								float:
									left;
								strong{
									font-family:
										"HelveticaNeueLT55RomanRegular";						
									font-size:
										22px;
								}
							}
						}
					}						
				}
				img#static_search_property{
					margin-left:
						25px;
					padding-bottom:
						25px;
					border-bottom:
						1px solid white;
					margin-bottom:
						15px;
				}
				table#list{
					width:
						521px;
					tr.hover{
						background:
							red;
					}
					tr.parent{
						background:
							green;
					}
					tr{
						th{
							background:
								white;
							color:
								black;
							font-weight:
								bold;
						}
						th,td{
							padding:
								5px 10px;
							text-align:
								center;
							
						}
						td.title,th.title{
							text-align:
								left;
						}
						td{
							a{
								text-decoration:
									none;
							}
						}
					}
				}
			}
			#right-column{
				width:
					172px;
				background:
					transparent;
				padding:
					0px;
				h2{
					margin-left:
						20px;
				}
				.tools{
					float:
						left;
					width:
						172px;
					height:
						152px;
					background:
						url(/images/system/bg/sprite.png) -320px 0px;	
					margin-top:
						8px;
					font-size:
						22px;
					color:
						white;
					text-shadow:
						0 1px black;
					-moz-text-shadow:
						0 1px black;							
					-webkit-text-shadow:
						0 1px black;						
					p{
						margin:
							15px 0 0 20px;		
						text-transform:
							uppercase;
						font-family:
							"HelveticaNeueLTCom45Light";
						strong{
							font-family:
								"HelveticaNeueLT55RomanRegular";						
						}					
					}
					ul{
						float:
							left;
						margin-top:
							25px;
						li{
							font-size:
								12px;
							float:
								left;
							margin:
								0 9px 6px 9px;
							@include buttons;
						}
					}
				}
				.button{
					float:
						left;
					width:
						172px;
					height:
						73px;
					background:
						url(/images/system/bg/sprite.png) 0 -60px;
					margin-top:
						8px;
					font-family:
						"HelveticaNeueLTCom45Light";
					letter-spacing:
						1px;
					line-height:
						23px;
					@include right-column-links;
				}
				.rightbox{
					margin-top:
						8px;
					border-radius:
						3px;
					-moz-border-radius:
						3px;
					-webkit-border-radius:
						3px;
					float:
						left;
					background:
						#f2f2f2;
					width:
						100%;
					float:
						left;
					font-family:
						"HelveticaNeueLT55RomanRegular";
					fonst-size:	
						12px;
					#newsletter{
						width:
							138px;
						height:
							46px;
						margin:
							0 15px;
						background:
							url(/images/system/bg/sprite.png) -182px 0;
						margin:
							15px;
					}
					form{
						float:
							left;
						width:
							50%;
						margin:
							0px 40px;
						input[type=email]{
							width:
								100%;
							border:
								1px solid #C0C0C0;
							border-radius:
								3px;
							-moz-border-radius:
								3px;
							-webkit-border-radius:
								3px;			
						}
						input[type=submit]{
							border:
								1px solid #5a5800;
							border-radius:
								10px;
							-moz-border-radius:
								10px;
							-webkit-border-radius:
								10px;	
							background:
								#8e8e8e;
							float:
								right;
							margin:
								8px 0 20px 0;
							color:
								white;
							font-family:
								"HelveticaNeueLT65MediumRegula";
							text-transform:
								uppercase;
							padding:
								2px 10px 0 10px;
						}
					}
					ul{
						float:
							left;
						width:
							100px;
						margin:
							10px 0 0 50px;
						li{
							width:
								100%;
							float:
								left;
							margin-bottom:
								6px;
							font-size:
								12px;
							img,p{
								float:
									left;
							}
							p{
								margin:
									5px 0 0 10px;
							}
						}
					}	
				}
				.first{
					margin-top:
						0px;
					padding:
						40px 0 20px 0;							
				}
			}
		}
	}
}